@tailwind base;
@tailwind components;
@tailwind utilities;
@import './styles/base/functions.scss';



:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


// Base typography styles for the marketing site
// Headings, subheadings, body text, and captions

// Headings
// styles/_typography.scss

// Headings
.heading--4xl {
  @include font-size(36px, 102px); // Extra-large heading
}
.heading--2xl {
  @include font-size(36px, 72px); // Extra-large heading
}
.heading--xl {
  @include font-size(36px, 48px); // Extra-large heading
}

.heading--large {
  @include font-size(32px, 40px); // Large heading
}

.heading--medium {
  @include font-size(28px, 36px); // Medium heading
}

.heading--small {
  @include font-size(24px, 30px); // Small heading
}

.subheading--large {
  @include font-size(20px, 26px); // Large subheading
}

.subheading--medium {
  @include font-size(18px, 24px); // Medium subheading
}

.subheading--small {
  @include font-size(16px, 22px); // Small subheading
}

.text-mini {
  @include font-size(14px, 20px); // Mini text
}

.text-micro {
  @include font-size(12px, 16px); // Micro text
}
.break-word{
  word-break: break-all;
}


.hide-scrollbar {
  -ms-overflow-style: none !important; /* IE and Edge */
  scrollbar-width: none !important; /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none !important; /* Chrome, Safari, and Opera */
}

.no-scroll{
  overflow: hidden;
}